<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432029866828-2p8t02r4gk7p1guknjbgbjdlbcb4ebag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432029866828-2p8t02r4gk7p1guknjbgbjdlbcb4ebag</string>
	<key>API_KEY</key>
	<string>AIzaSyDpBGr-8MO7-Ot8uahB8Sld2qAMnebJg_M</string>
	<key>GCM_SENDER_ID</key>
	<string>432029866828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>con.monoon.loginiOS</string>
	<key>PROJECT_ID</key>
	<string>monoonsong-05</string>
	<key>STORAGE_BUCKET</key>
	<string>monoonsong-05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432029866828:ios:31eaf0915f724dd0664de9</string>
	<key>DATABASE_URL</key>
	<string>https://monoonsong-05-default-rtdb.firebaseio.com</string>
</dict>
</plist>